body {
    font-family: sans-serif;
}
header img{
    width: 204px;
    height: 80px;
}
header{
    background-image: linear-gradient(skyblue,white);
}
.itzy{
    width: 577px;
    height: 308px;
    border: 1px solid white;
    border-radius: 21px;
    display: block;
}
.qwerty1{
    display: block;
    width: 250px;
}
.qwerty2{
    background-color: skyblue;
    display: block;
    width: 490px;
    position: absolute;
    top: 175px;
    left: 600px;
    font-size: 18px;
    padding: 10px 10px 25px 10px;
    border-radius: 10px;
    margin: 5px 5px 20px 5px;
   
    
}
.chois h2{
    display: block;
    text-align: center;
    border: 3px solid lightblue;
    border-radius: 10px;
    background-image: linear-gradient(skyblue,white);
    width:1100px;

}
main a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    justify-content: space-between;  
    background-image: linear-gradient(skyblue,white);
    border-radius: 10px;
    padding: 5px;
    margin-left: 200px;
}
main a:hover{
    color: skyblue;
    text-decoration: underline;
}
footer{
    width: 1100px;
    height: 128px;
    margin-top: 40px;
    background-color: rgb(201, 63, 63);
    padding: 15px 15px 20px 15px;
    border: 1px solid white;
    border-radius: 14px;
}
footer p{
    text-align: center;
   border-radius: 10px;
   background-color: white;
    color: black;
    font-size: 24px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    text-decoration: underline;
    color: lightblue;

}
